In [1]:
# Importing the libraries.

import pandas as pd
import numpy as np

In [2]:
# Version of Pandas

print(pd.__version__)

2.0.3

In [3]:
# Data: https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

In [4]:
# Read the data from csv

df = pd.read_csv("raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
# How many columns are in the dataset?

df.shape[1]

10

In [6]:
# Which columns in the dataset have missing values?

missing_values = df.isna().sum()
missing_values[missing_values > 0]

total_bedrooms    207
dtype: int64

In [7]:
# How many unique values does the ocean_proximity column have?

df["ocean_proximity"].nunique()

5

In [8]:
# What's the average value of the median_house_value for the houses located near the bay?

average_median_house_value = df.groupby("ocean_proximity").median_house_value.mean()
print(round(average_median_house_value["NEAR BAY"], 3))

259212.312

In [9]:
# Calculate the average of total_bedrooms column in the dataset.

average_total_bedrooms = df['total_bedrooms'].mean()
print(round(average_total_bedrooms, 3))

537.871

In [10]:
# Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.

df['total_bedrooms'].fillna(average_total_bedrooms, inplace=True)

In [11]:
# Now, calculate the average of total_bedrooms again.

average_total_bedrooms = df['total_bedrooms'].mean()

In [12]:
# Has it changed?

print(round(average_total_bedrooms, 3))

537.871

In [13]:
# Select all the options located on islands.

island_properties = df[df['ocean_proximity'] == 'ISLAND']

In [14]:
# Select only columns housing_median_age, total_rooms, total_bedrooms.

selected_columns = island_properties[['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [15]:
# Get the underlying NumPy array. Let's call it X.

X = selected_columns.values

In [16]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

XTX = X.T.dot(X)

In [17]:
# Compute the inverse of XTX

inverse_XTX = np.linalg.inv(XTX)

In [18]:
# Create an array y with values [950, 1300, 800, 1000, 1300].

y = np.array([950, 1300, 800, 1000, 1300])

In [19]:
# Calculate X^T * y

XT_y = X.T.dot(y)

# Calculate w by multiplying the inverse of XTX with XT_y

w = np.dot(np.linalg.inv(XTX), XT_y)

# What's the value of the last element of w?
print(w[-1:])

[5.69922946]

In [20]:
print("This is the end of HW1. ðŸ™Œ")

This is the end of HW1. ðŸ™Œ